@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #dadada;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

header.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #131921;
}

.left-section {
  width: 220px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #131921;
  margin-left: 5px;
}

.left-section-delivery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
  cursor: pointer;
}

.amazon-logo {
  margin-top: 8px;
  padding: 2px;
  width: 105px;
  height: 38px;
  cursor: pointer;
}

.location-logo {
  width: 18px;
  height: 15.8px;
  margin-top: 16px;
  cursor: pointer;
}

.delivery-font {
  color: #e4e4e4;
  font-size: 12px;
}

.delivery-font span {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.middle-section {
  height: 78%;
  flex: 0.94;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: gray;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 15px;
}

.middle-section-left {
  background: #e2e2e2;
  height: 100%;
  width: 7%;
  min-width: 7%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  font-weight: 500;
  color: #9c9c9c;
  cursor: pointer;
}

.middle-section-left img {
  align-items: center;
  justify-content: center;
  margin-top: 30%;
  height: 6px;
  width: 9px;
  cursor: pointer;
}

/* .middle-section-middle {
  justify-content: center;
  text-align: center;
  align-items: center;
} */

.middle-section-search {
  align-items: center;
  border: none;
  outline: none;
  padding-left: 10px;
  height: 35px;
  width: 93%;
  max-width: 93%;
}

.middle-section-search-ico {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 39px;
  padding: 8px;
  background: #ffd04f;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.right-section {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  background-color: #131921;
  margin-right: 10px;
}

.right-section-lang {
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3px;
}

.right-section-flag-logo {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.right-section-dropdown-logo {
  align-items: center;
  margin-top: 15%;
  height: 6px;
  width: 9px;
  cursor: pointer;
}

.right-section-login {
  display: flex;
  gap: 3px;
}

.right-section-login span {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.right-section-login-text {
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}

.right-section-login-dropdown-logo {
  align-items: center;
  margin-top: 17%;
  height: 6px;
  width: 9px;
  cursor: pointer;
}

.right-section-orders-span {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.right-section-cart {
  display: flex;
  cursor: pointer;
}

.right-section-cart > div {
  margin-top: 30%;
  margin-left: -6px;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #fff;
}

.right-section-cart img {
  height: 45px;
}

.belt-navbar {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: left;
  height: 40px;
  background-color: #232f3f;
  color: #fff;
  font-size: 15px;
}

.belt-navbar > div {
  display: flex;
  margin-left: 1%;
  align-items: center;
  gap: 4px;
}

.belt-navbar div > img {
  height: 25px;
  width: 18px;
}

.trend-container {
  overflow: hidden;
  background-color: #ffe0e6;
  height: 190%;
}

.trend-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-back {
  overflow: hidden;
  height: 225px;
  background: url("/assets/valentine.jpg") center 1% / cover no-repeat;
}

.trend-valentines-image {
  display: flex;
  justify-content: center;
  width: 1250px;
}

/* .trend-valentines-image > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
} */

.trends-cards-main {
  display: flex;
  background-color: #ffe0e6;
  justify-content: center;
}

.trends-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 2000vw;
  height: 385px;
  background-color: #ffe0e6;
  gap: 15px;
  padding: 10px 0;
}

.trends-cards-section div {
  display: flex;
  align-items: center;
  width: 23%;
  height: 100%;
  justify-content: center;
  background-color: #f00;
}
